
@font-face {
    font-family: Cabin;
    src: url(/Assets/Cabin/static/Cabin/Cabin-Medium.ttf);
}
* {
    font-family: 'Cabin', trebuchet, sans-serif;
}
h1 {
    color: white;
    font-size: 10vh;
    display: inline-block;
    padding: 1vh;
}
h2 {
    font-size: 8vh;
}
h3 {
    font-size: 4vh;
}
p{
    font-size: 3vh;
}
ul {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 10%;
    right: 2%;
}
header {
    background-color: #e1461d;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    
}
main {
    position: absolute;
    padding-top: 5%;
}
body {
    background-color: #dadada;
    width: 100%;
}
a {
    color: #dadada;
    text-decoration: none;

}
.astronautCostume {
    width: 50%;
    display: inline;
    
}
#aboutMe, #resume, #work, #contact {
    width: 100%;
    display: inline;
    text-align: center;

} 
#aboutMe h2, #resume h2, #work h2, #contact h2{
    color: #826198;
    margin: 2% 20%;
} 
/*
#302628 dark grey black
#826198 light purple 
#ecc600 yellow
*/